*{
    margin: 0;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    max-height: 92px;
    padding-top: 16px;
    background-color: #FFFFFF;
}

.menu{
    display: flex;
    justify-content: space-between;
    flex: 1;
    max-width: 365px;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    align-items: center;
}

.navbar .nav-btn button{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #30B868;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
}

.navbar .nav-btn button:hover{
    background-color: #1d8e4c;
}

#banner{
    padding: 70px 120px 134px 120px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#banner .banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner .banner-content .banner-ttle{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    line-height: auto;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 229px;
    background-color: #FFFFFF;
    padding: 8px 12px;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
}

#banner .banner-content .banner-headline{
    text-align: center;
    font-size: 35px;
    line-height: 84px;
    margin-bottom: 16px;
    /* max-width: 770px; */
}

#banner .banner-content .banner-descp{
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 32px;
}

#banner .banner-content .banner-btn button{
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 12px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

#banner .banner-content .banner-btn .b1{
    background-color: #30B868;
}

#banner .banner-content .banner-btn .b1:hover{
    background-color: #1d8e4c;
}

#banner .banner-content .banner-btn .b2:hover{
    background-color: #1d8e4c;
}

#banner .banner-content .banner-btn .b2{
    border: 1px solid white;
    background: none;
}

/* #fst-foot{
    background-color: whitesmoke;
} */

#mdl-dscp{
    text-align: center;
}

#mdl-dscp h3{
    font-size: 48px;
    font-weight: 900;
    line-height: auto;
    padding-top: 50px;
    margin-bottom: 16px;
}

#mdl-dscp p{
    font-size: 16px;
    color: #627382;
}

.cards{
    margin: 44px 120px 0;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.cards .card{
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
    width: 250px;
    height: 230px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

.cards .card .vector{
    background-color: #f95555;
    border: none;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.cards .card h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    line-height: auto;
}

.cards .card p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}

#mdl-dscp2{
    margin: 0 120px 120px 120px;
    background-color: whitesmoke;
}

#mdl-dscp2 .uper-dscp{
    text-align: center;
}

#mdl-dscp2 .uper-dscp h3{
    font-size: 40px;
    font-weight: 900;
    padding-top: 80px;
    margin-bottom: 16px;
}

#mdl-dscp2 .uper-dscp p{
    font-size: 16px;
    color: #627382;
    line-height: 24px;
}

#mdl-dscp2 .lwr-dscp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mdl-dscp2 .lwr-dscp button{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #30B868;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 16px;
    width: 194px;
}

#mdl-dscp2 .lwr-dscp button:hover{
    background-color: #1d8e4c;
}

#mdl-dscp2 .lwr-dscp p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    padding-bottom: 80px;
}

#mdl-page{
    padding: 120px;
    display: flex;
}

#mdl-page .image{
    width: 600px;
    height: 600px;
}

#mdl-page .text{
    padding: 102px 0 270px 80px;
}

#mdl-page .text .ttl{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}

#mdl-page .text h3{
    font-size: 48px;
    font-weight: 900;
}

#mdl-page .text p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}

#mdl-page .text ul{
    list-style: none;
}
#mdl-page .text ul li{
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    margin-bottom: 16px;
}

#footer{
    padding: 120px 120px 30px 120px;
    background-color: rgb(0, 25, 49, 1);
}

.logo-link{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

#footer .logo-link .scl{
    font-size: 20px;
    font-weight: 500;
    color: white;
    line-height: 28px;
}

#footer p{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    color: white;
}