
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    max-height: 92px;
    padding-top: 16px;
    background-color: #FFFFFF;
}

.menu{
    display: flex;
    justify-content: space-between;
    flex: 1;
    max-width: 365px;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    align-items: center;
}

.navbar .nav-btn button{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #30B868;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
}

.navbar .nav-btn button:hover{
    background-color: #1d8e4c;
}
